._main_content {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.table_of_contents {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 20px;
  padding-top: 50px;
}

a {
  margin: 10px;
}
._tut_box{
  display: flex;
  flex-direction: column;
  padding-top: 10%;
  padding-left: 20px;
}

p {
  color: white;
  font-family: monospace;
  font-size: 18px;
  width: 85%;
  text-transform:none;
  margin-bottom: 50px;
}
